/* Pie de pagina */
footer {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	/*text-shadow: 1px 1px 1px #FFFFFF;*/
	background-color: #222;
	border-top-style: solid;	
	border-top-width: 3px;
	border-top-color: red;
	/*box-shadow: 10px 10px 5px #00FF00; */
}

footer p {
	font-size: 10px;
}

/* Barra de lengujes */
#languages {
	border-bottom-left-radius: 100px 50px;
	padding-top: 3px;
	padding-bottom: 5px;
	background-color: #222;
	border-color: #080808;
}

/* Login page */
form login {
	padding-left: 20px;
}

#login {
	margin: auto;
	width: 400px;
	padding-bottom: 10px; 
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
}

