/* Commons */
table {
	font-size: 14px;
}

.subtitle {
	padding-left: 3%;
}

.h7 {
	font-size: 20px;
	font-weight: 600;
	color: inherit;
}

.high {
	/* Para STRONG además con diferente color */
	font-weight: 700;
	color: #f39c12;
}

strong {
	color: #1ABC9C;
}

.noread {
	background-color: #FFF;
}

.modalList > dl {
	margin: auto;
	width: 100%;
	overflow: hidden;
}

.modalList > .title {
	width: 60%;
	margin: auto;
	text-align: center;
	border-bottom: 1px solid #ecf0f1;
}

.modalList dl > dt {
	float:left;
	width: 50%;
	color: #1abc9c;
	font-weight: bold;
	padding-left: 1%;
}

.modalList dl > dd {
	float:right;
	width: 50%;
	padding-left: 1%;
}

.modal-content {
	box-shadow: -10px 10px 2px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	background-color: #f5f7f8;
}

.modal-dialog-wide {
	width: 700px;
}

.modal-header {
	color: #384A5C;
	font-size: 24px;
	padding-left: 30px;
	padding-bottom: 0px;
	margin-top: 5px;
	border-bottom: 2px solid #ecf0f1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #f5f7f8;
}

.modal-header > .row > h4 {
	margin-top: 0px;
	font-size: 26px;
}

.modal-header > .row > h4 > strong {
	color: #1abc9c;
	font-style: italic;
	padding-left: 20px;
}

.modal-body {
	padding: 15px 30px;
	background-color: #f5f7f8;
}

.modal-footer {
	text-align: inherit;
	font-size: 14px;
	background-color: #ecf0f1;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.modal-footer > p {
	font-size: 14px;
}

.modal-footer > .pull-left > p {
	margin-bottom: 0px;
	font-size: 14px;
}

/* alerts*/
.alert > strong {
	color: inherit;
}

/* Navbar */
.navbar-inverse {
	margin-bottom: 10px;
}

.navbar-text > strong {
	color: #1abc9c;
}

.nav > li > a {
	background-color: #34495e;
	color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #1abc9c;
	color: #FFF;
}

.nav-pills > li.activeBooking > a {
	background-color: #2ecc71;
	color: #FFF;
}

.nav-pills > li.active > a {
	background-color: #3498db;
	
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #1abc9c;
}

.nav-pills > li.danger > a:hover, .nav-pills > li.danger > a:focus {
	background-color: #e74c3c;
}

.btn-logout {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.crumbs {
	font-size: 14px;
	text-align: right;
}

.crumbs > .fui-home {
	display: inline-block;
  	vertical-align: middle;
}

.crumbs > a {
	color: #34495e;
	padding-bottom: 6px;
	
}

.crumbs > .fui-arrow-left {
	display: inline-block;
  	vertical-align: middle;
	color: #1abc9c;
}

/* Pie de pagina */
footer {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	background-color: #34495E;
	border-top: 2px solid #1abc9c;
}

footer p {
	font-size: 12px;
}

.footer-col-1 {
	border-right: 1px solid #777;
	padding-left:3%;
	padding-top: 3%;
	padding-bottom: 4%;
}

.footer-col-2 {
	text-align: center;
	margin-top: 10px;
}

@media screen and (min-width: 400px) {
	.col-2 {
		text-align: right;
		margin-top: 1%;
	}
}

/* Barra de lengujes */
#languages {
	font-size: 13px;
	color: #d35400;
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: #34495E;
	border-radius: 0px 0px 4px 4px;
}

#langA {
	color: #2ecc71;
}

.loginCustom {
	margin: auto;
	width: 45%;
	border-radius: 6px;	
	border: 1px solid #bdc3c7;
}

.logoLogin {
	color: #bdc3c7;
	text-align: right;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

#LoginButton {
	width: 100%;
	padding: 10px;
}

.labelReg {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: normal;
	line-height: 2.3;
}


.width-50 {
	width: 50%;
}

/* Paneles */
.panel-header-success {
	background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-header-warning {
	background-image: linear-gradient(to bottom, #F0AD4E 0px, #EB9316 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-header-danger {
	background-image: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-body > p {
	margin-bottom: 8px;
}

/* Pagina admin */
.stadistics > dl {
 	padding-left: 25%;
	width: 100%;
	overflow: hidden;
}

.stadistics > dl > dt {
	float:left;
	width: 50%;
}

.stadistics > dl > dd {
	float:right;
	width: 50%;
	color: #1abc9c;
	font-weight: bold;
}

/* Pagina de ver actividades del cliente*/
.mybadge {
	display: inline-block;
	margin-left: 8px;
	min-width: 15px;
	padding: 3px 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	background-color: #FFF;
	color: #34495e;
}

.booking {
	border-left: 1px solid #2c3e50;
	border-right: 1px solid #2c3e50;
	border-bottom: 1px solid #2c3e50;
	border-radius: 4px;
	background-color: #fff;
	margin-top: 10px;
}

.booking-title {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	background-color: #34495e;
	border-bottom: 1px solid #2c3e50;
	border-radius: 4px 4px 0px 0px;
}

.booking-title > h5 {
	margin: 0px;
	color: #FFF;
}

.booking-title > h5 > small {
	padding-left: 10px;
	font-size: 65%;
	font-style: italic;
	color: #bdc3c7;
}

.title-pending {
	font-style: italic;
	color: #ecf0f1;
	margin: 0px;
}

.title-pending  > .fui-triangle-down {
	color: #FFF;
	padding-left: 20px;
}

.title-accepted {
	font-style: italic;
	font-weight: bold;
	color: #1abc9c;
	margin: 0px;
}

.title-accepted > .fui-triangle-down {
	color: #FFF;
	padding-left: 20px;
}

.title-declined {
	font-style: italic;
	font-weight: bold;
	color: #e74c3c;
	margin: 0px;
}

.title-declined  > .fui-triangle-down {
	color: #FFF;
	padding-left: 20px;
}

.booking-title > a {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 6.5px;
	border-radius: 3px;
	border: 1px solid #6ace7e;
	background-color: #A2F9B3;
}

.booking-title > .fui-triangle-down {
	margin-top: 0.3%; 
	margin-right: 1%; 
	color: rgb(255, 255, 255);
}

.booking-body {
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.booking-id {
	font-size: 15px;
	font-style: italic;
	color: #95a5a6;
	padding-left: 18px;
	font-family: "Times New Roman", Times, serif;
}

.booking-activity > h4 {
	font-weight: 600;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
}

.booking-activity > h4 > small {
	font-weight: normal;
	font-size: 70%;
	font-style: oblique;
	color: #95a5a6;
	text-transform: capitalize;
	padding-left: 6px;
}

.booking-date > h6 {
	margin-top: 10px; 
	margin-bottom: 10px;
	font-size: 90%;
	font-weight: bold;
}

.booking-date > h6 > small {
	font-size: 100%;
	padding-left: 62px;
	color: #95a5a6;
}

.booking-group {
	font-weight: bold;
}

.booking-group > h6 {
	margin-top: 10px; 
	margin-bottom: 10px;
	font-size: 90%;
	font-weight: bold;
}

.booking-group > h6 > small {
	font-size: 100%;
	padding-left: 18px;
	color: #95a5a6;
}

.booking-place {
	font-weight: bold;
}

.booking-place > h6 {
	margin-top: 10px; 
	margin-bottom: 10px;
	font-size: 90%;
	font-weight: bold;
}

.booking-place > h6 > small {
	font-size: 100%;
	padding-left: 58px;
	color: #95a5a6;
}

.booking-price {
	font-weight: bold;
}

.booking-price > h6 {
	margin-top: 10px; 
	margin-bottom: 10px;
	font-size: 90%;
	font-weight: bold;
}

.booking-price > h6 > small {
	font-size: 100%;
	padding-left: 58px;
	color: #95a5a6;
}

.booking-status {
	padding-top: 4%;

}

.booking-status > .accepted {
	color: #1abc9c;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 200%;
}

.booking-status > .declined {
	color: #e74c3c;
	text-align: center;
	text-transform: capitalize;
	font-weight: bolder;
	font-size: 200%;
}

.booking-status > .pending {
	color: #95a5a6;
	text-align: center;
	text-transform: capitalize;
	font-weight: bolder;
	font-size: 200%;
}

.booking-status > .date {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
	color: #95a5a6;
	text-transform: none;
}

/* Pagina de ABOUT */
.team {
	padding: 15px 10px;
}

.miembro-text {
	padding-left: 15px;
}

.about-banner {
	color: #FFF;
	background-color: #34495E;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.about-banner:hover {
	color: #1ABC9C;
}

.about-img {
	width:150px;
	height: 200px;
	border-radius: 6px;
	border: 1px solid #ecf0f1;
}

/* Pagina de details para Bookings */
.tab-pane {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-radius: 0px 0px 4px 4px;
}


/* portada */
.portada {
	margin-top: 4%;
	margin-bottom: 3%;
	padding-bottom: 70px;
	border-radius: 6px;
	border-bottom: 3px solid #ecf0f1;
	text-align: center;
}

.portada > h1 {
	margin-bottom: 0px;
	color: #1ABC9C;
}

.portada > h5 {
	margin-top: 0px;
}

.offer {
	width: 95%;
	margin:auto;
	border-radius: 6px;
	margin-bottom: 10px;
}

.offer > .offer-img {
	height: 190px;
	width: 509px;
	margin: 0px;
	border-radius: 6px;
	background-size: 800px 400px;
	background-position: 0px -50px;
    background-repeat: no-repeat;
    border: 2px solid rgba(47,65,84)
}

.offer > .offer-img > p {
	margin: 0px;
	color: #FFF;
	-webkit-text-stroke: 1px #34495E;
	text-shadow:
   -1px -1px 0 #2c3e50,  
    1px -1px 0 #2c3e50,
    -1px 1px 0 #2c3e50,
     1px 1px 0 #2c3e50;
	padding-top: 30%;
	padding-left: 3%;
	font-size: 22px;
	font-weight: 700;
	text-align: left;
}

 .offer-space-top {
	padding-bottom: 7px;
	border-top: 3px solid #34495E;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
	border-radius: 10px;
}

 .offer-text {
	padding: 0px 2%;
	padding-left: 2%;
	margin-bottom: 0px;
	font-size: 13px;
}

 .offer-text > strong {
	color: inherit;
}

.activity {
	border-left: 1px solid #34495e;
	border-right: 1px solid #34495e;
	border-bottom: 1px solid #34495e;
	border-radius: 6px;
	background-color: #34495E; 
	margin-bottom: 15px;
}

.activity-title {
	padding: 6px 10px;
	color: #FFF;
	font-size: 25px;
	font-weight: bolder;
	background-color: #34495E;
	border-bottom: 1px solid #2C3E50;
	border-radius: 6px 6px 0px 0px;
}

.activity-title > small {
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
	color: #bdc3c7;
}

.activity-body {
	margin-left: 1px;
	margin-right: 1px;
	padding-top: 6px;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 6px;
	background-color: #FFF;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.activity-info {
	margin-left: 15px;
}


.activity-name > h4 {
	font-size: 36px;
	font-weight: bolder;
	color: #16a085;
}

.activity-level > h6 {
	font-weight: bold;
}

.activity-level > h6 > small {
	color: #34495e;
	font-size: 100%;
	padding-left: 150px;
}

.activity-schedule > h6 {
	font-weight: bold;
}

.activity-schedule > h6 > small {
	color: #34495e;
	font-size: 100%;
	padding-left: 109px;
}

.activity-place > h6 {
	font-weight: bold;
}

.activity-place > h6 > small {
	color: #34495e;
	font-size: 100%;
	padding-left: 150px;
}

.activity-group > h6 {
	font-weight: bold;
}

.min-g {
	color: #34495e;
	font-size: 100%;
	padding-left: 36px;
}

.max-g {
	color: #34495e;
	font-size: 100%;
	padding-left: 30px;
}

.activity-price {
	margin-top: 5%;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	.activity-price {
		margin-top: 15%;
	}
}

.activity-price > h5 {
	color: #1abc9c;
	font-size: 45px;
}

.activity-price > h5 > small {
	color: #95a5a6
}

.activity-description {
	margin-top: 30px;
	margin-left: 25px;
}

@media screen and (min-width: 1200px) {
	.activity-description {
		margin-top: 73px;
		margin-left: 25px;
	}
}

.activity-description > p {
	text-align: justify;
}

.activity-description > h6 {
	text-align: center;
	font-weight: bold;
}

.activity-btn {
	margin-top: 20px;
}