/* Commons */
table {
	font-size: 14px;
}

.subtitle {
	padding-left: 15px;
}

.h7 {
	font-size: 20px;
	font-weight: 600;
	color: inherit;
}

.high {
	/* Para STRONG además con diferente color */
	font-weight: 700;
	color: #f39c12;
}

strong {
	color: #1ABC9C;
}

.modal-header {
	color:white !important;
	text-align: center;
	font-size: 30px;
	padding-bottom: 20px;
}

.modal-body {
	padding: 30px 50px;
}

.modal-footer {
	text-align: inherit;
	background-color: #ecf0f1;
	border-top-color: #bdc3c7;
}

.modal-header-warning {
	background-color: #f39c12;
	border-color: #cf8316;
}

.modal-header-success {
	background-color: #2ecc71;
	border-color: #3E8F3E;
}

.modal-header-info {
	background-color: #2980b9;
	border-color: #245580;
}

.modal-header-danger {
	background-color: #e74c3c;
	border-color: #B92C28;
}

/* Navbar */
.navbar-text > strong {
	color: #1abc9c;
}

/* Pie de pagina */
footer {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
	background-color: #34495E;
	border-top: 2px solid #1abc9c;
}

footer p {
	font-size: 12px;
}

/* Barra de lengujes */
#languages {
	font-size: 13px;
	color: #d35400;
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: #34495E;
	border-radius: 0px 0px 4px 4px;
}

#langA {
	color: #2ecc71;
}

.loginCustom {
	margin: auto;
	width: 45%;
	border-radius: 6px;	
	border: 1px solid #bdc3c7;
}

.logoLogin {
	color: #bdc3c7;
	text-align: right;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

#LoginButton {
	width: 100%;
	padding: 10px;
}

.labelReg {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: normal;
	line-height: 2.3;
}


.width-50 {
	width: 50%;
}

/* Paneles */
.panel-header-success {
	background-image: linear-gradient(to bottom, #5CB85C 0px, #419641 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-header-warning {
	background-image: linear-gradient(to bottom, #F0AD4E 0px, #EB9316 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-header-danger {
	background-image: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%);
	background-repeat: repeat-x;
	color: #333;
}

.panel-body > p {
	margin-bottom: 8px;
}


/* Pagina de ver actividades del cliente*/
.mybadge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
	background-color: #FFF;
	color: #2ecc71;
}

.nav-pills > li.activeBooking > a {
	background-color: #2ecc71;
	color: #FFF;
}

.booking {
	border: 1px solid #6ace7e;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.booking-title {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	background-color: #82ff9b;
	border-bottom: 1px solid #6ace7e;
	border-radius: 2px;
}

.booking-title > h3 {
	font-size: 20px;
	margin: 0px;
	color: #219a3a;
}

.booking-title > h3 > small {
	padding-left: 10px;
	font-size: 55%;
	font-family: "Times New Roman", Times, serif;
}

.booking-title > a {
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 6.5px;
	border-radius: 3px;
	border: 1px solid #6ace7e;
	background-color: #A2F9B3;
	color: inherit;
}

.booking-body {
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.booking-id {
	font-size: 15px;
	font-style: italic;
	color: grey;
	padding-left: 18px;
	font-family: "Times New Roman", Times, serif;
}

.booking-activity {
	font-size: 24px;
	font-weight: 600;
	padding-top: 15px;
	padding-left: 10px;
}

.booking-activity > small {
	font-weight: normal;
	font-size: 70%;
	font-style: oblique;
	color: gray;
	text-transform: capitalize;
	padding-left: 6px;
}

.booking-date > h5 {
	font-weight: bold;
}

.booking-date > h5 > small {
	color: inherit;
	font-size: 100%;
	padding-left: 65px;
}

.booking-group {
	font-weight: bold;
}

.booking-group > h5 {
	font-weight: bold;
}

.booking-group > h5 > small {
	color: inherit;
	font-size: 100%;
	padding-left: 19px;
}

.booking-place {
	font-weight: bold;
}

.booking-place > h5 {
	font-weight: bold;
}

.booking-place > h5 > small {
	color: inherit;
	font-size: 100%;
	padding-left: 58px;
}

.booking-status {
	margin-top: 15px;
	margin-right: 30px;
	padding: 5px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.10);
}

.booking-status > .accepted {
	color: limegreen;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}

.booking-status > .declined {
	color: red;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}

.booking-status > .accepted {
	color: grey;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
}

.booking-status > .date {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
	font-weight: 400;
	color: grey;
	text-transform: none;
}

/* Pagina de ABOUT */
.team {
	padding: 15px 10px;
}

.miembro-text {
	padding-left: 15px;
}

/* Pagina de details para Bookings */
.tab-pane {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-radius: 0px 0px 4px 4px;
}