<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<!-- Configuration of DB -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="jdbc" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
	
	<!-- Spring's Components -->
	<context:component-scan base-package="database" />
	<context:component-scan base-package="main/controller/" />
	<context:component-scan base-package="classes" />	
	<context:component-scan base-package="service" />
		
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- BEANS -->
	<!-- Components -->
	<bean id="activity" class="classes.Activity" />
	<bean id="booking" class="classes.Booking" />
	<bean id="client" class="classes.Client" />
	<bean id="instructor" class="classes.Instructor" />
	<bean id="status" class="classes.Status" />
	<bean id="user" class="classes.User" />
	<bean id="avaliableforbooking" class="classes.AvaliableForBooking" />
	<bean id="clientregister" class="classes.ClientRegister" />
	
	<!-- Repositories -->
	
	<bean id="activityDAO" class="database.daoActivity">
		<property name="dataSource" ref="jdbc" />
	</bean>
		<bean id="statusDAO" class="database.daoStatus">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="bookingDAO" class="database.daoBooking">
		<property name="dataSource" ref="jdbc" />
		<property name="daoStatus" ref="daoStatus" />
	</bean>
	<bean id="clientDAO" class="database.daoClient">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="instructorDAO" class="database.daoInstructor">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="userDAO" class="database.daoUser">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="avaliablebookDAO" class="database.daoAvaliableBook">
		<property name="dataSource" ref="jdbc" />
	</bean>
	
	 <!-- Service -->
	<bean id="service" class="service.LogicLayer">
		<property name="daoActivity" ref="activityDAO" />
		<property name="daoBooking" ref="bookingDAO" />
		<property name="daoClient" ref="clientDAO" />
		<property name="daoInstructor" ref="instructorDAO" />
		<property name="daoStatus" ref="statusDAO" />
		<property name="daoUser" ref="userDAO" />
		<property name="daoAvaliable" ref="avaliablebookDAO" />
	</bean>
	

</beans>