<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:annotation-config />

	<!-- DB Configuration -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="jdbc" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
	
	<bean id="messageSource"
    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="WEB-INF/messages"/>
    </bean>
	
	<!-- Spring's Components -->
	<context:component-scan base-package="controller/adminPages" />
	<context:component-scan base-package="controller/accountPages" />
	<context:component-scan base-package="controller/instructorPages" />
	<context:component-scan base-package="controller/identificationPages" />
	<context:component-scan base-package="controller/customerPages" />
	<context:component-scan base-package="controller/basicPages" />
	
	
	<context:component-scan base-package="database" />
	<context:component-scan base-package="classes" />	
	<context:component-scan base-package="service" />
		
	<!--Interceptors-->
	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/admin.html"/>
	        <mvc:mapping path="/admin/**"/>
	        <bean class="controller.interceptors.AdminInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/login.html"/>
	        <bean class="controller.interceptors.IdentificationInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/customer.html"/>
	        <mvc:mapping path="/custoumer/**"/>
	        <bean class="controller.interceptors.CustomerInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/instructor.html"/>
	        <mvc:mapping path="/instructor/**"/>
	        <bean class="controller.interceptors.InstructorInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/account.html"/>
	        <bean class="controller.interceptors.AccountInterceptor" />
	    </mvc:interceptor>
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/**"/>
	        <bean class="controller.interceptors.MainInterceptor" />
	    </mvc:interceptor>
	</mvc:interceptors>	

	
	<!--Page formatter-->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- BEANS -->
	<!-- Components -->
	<bean id="activity" class="classes.Activity" />
	<bean id="booking" class="classes.Booking" />
	<bean id="client" class="classes.Client" />
	<bean id="instructor" class="classes.Instructor" />
	<bean id="status" class="classes.Status" />
	<bean id="user" class="classes.User" />
	<bean id="avaliableforbooking" class="classes.AvaliableForBooking" />
	<bean id="clientregister" class="classes.ClientRegister" />
	<bean id="email" class="classes.Email" />
	<bean id="doublepassword" class="classes.DoublePassword" />
	
	<!-- Repositories -->
	
	<bean id="activityDAO" class="database.daoActivity">
		<property name="dataSource" ref="jdbc" />
	</bean>
		<bean id="statusDAO" class="database.daoStatus">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="bookingDAO" class="database.daoBooking">
		<property name="dataSource" ref="jdbc" />
		<property name="daoStatus" ref="statusDAO" />
	</bean>
	<bean id="clientDAO" class="database.daoClient">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="instructorDAO" class="database.daoInstructor">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="userDAO" class="database.daoUser">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="avaliablebookDAO" class="database.daoAvaliableBook">
		<property name="dataSource" ref="jdbc" />
	</bean>
	<bean id="tokenDAO" class="database.daoSessionToken">
		<property name="dataSource" ref="jdbc" />
	</bean>
	
	
	 <!-- Service -->
	<bean id="service" class="service.LogicLayer" init-method="init">
		<property name="daoActivity" ref="activityDAO" />
		<property name="daoBooking" ref="bookingDAO" />
		<property name="daoClient" ref="clientDAO" />
		<property name="daoInstructor" ref="instructorDAO" />
		<property name="daoStatus" ref="statusDAO" />
		<property name="daoUser" ref="userDAO" />
		<property name="daoAvaliable" ref="avaliablebookDAO" />
	</bean>
	

</beans>